* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 500px;
    height: 650px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
}

.group {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 470px;
    height: 155px;
    padding: 15px;
    // margin-top: 20px;
}

.form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input_div {
    display: flex;
    align-items: center;
    width: 300px;
    height: 38px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background: white;
}

.input {
    width: 280px;
    height: 38px;
    border: none;
    outline: none;
    text-indent: 15px;
    font-size: 16px;
    border-radius: 7px;
    color: dodgerblue;
}

.icon_x {
    font-size: 20px;
    color: red;
    padding-right: 5px;
    cursor: pointer;
}

.btn {
    width: 110px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background: green;
    font-size: 16px;
    border-radius: 7px;
    border: transparent;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background: white;
        color: green;
        border: 2px solid green;
        transition: .5s;
    }
}

.btn_del {
    width: 110px;
    height: 38px;
    gap: 10px;
    color: white;
    background: red;
    font-size: 16px;
    border-radius: 7px;
    border: transparent;
    cursor: pointer;
    transition: .5s;
    margin-top: 50px;

    &:hover {
        background: white;
        color: red;
        border: 2px solid red;
        transition: .5s;
    }
}

.group_two {
    border: 1px solid black;
    width: 450px;
    height: 440px;
    overflow-y: auto;
}

.card {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}
.Complete{
    width: 100px;
    height: 35px;
    background: green;
    color: white;
    font-size: 16px;
    border: transparent;
    cursor: pointer;
    transition: .5s;
    border-radius: 7px;
    &:hover{
        transition: .5s;
        background: white;
        color: green;
        border: 1px solid green;
    }
}